@charset "UTF-8";
/* CSS Document */

.captcha {
    margin-top: 20px;
    margin-bottom: 30px:
    margin-left: 14px;
    }

.captcha form input {
    width: 20%;
    }

.captcha img {
    background-color: white;
    padding: 1px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    }

.js-captcha-refresh {
    float: right;
    }
