<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Enter new password{% endblock %}
{% block content %}
  <div class="page">
    {% if validlink %}
    <h1>Set a new password!</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Update Password</button>
    </form>
    {% else %}
      <p>"The password reset link was invalid, possibly because it has already been used."</p>
      <p>"Please request a new password reset."</p>
    {% endif %}
  </div>
{% endblock %}
